body {
  font-family: Arial;
  background-color: rgb(60, 60, 60);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  background-color: rgb(70, 70, 70);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  text-align: center;
}

h1 {
  color: #00ff08;
  margin-bottom: 15px;
  font-weight: bold;
}

p {
  color: #ffffff;
  line-height: 1.6;
  font-weight: bold;
}
